//Product
$product-title-color: #FF0000;
$product-title-size:36px;
$product-title-weight: 700;
$product-subtitle-color: #FF0000;
$product-subtitle-size: 24px;
$product-subtitle-weight: 400;


//Input
$input-background-color: #E5E5E5;
$input-text-color: #979797;
$input-text-size: 14px;
$input-text-weight: 400;
$input-text-height: 16px;
$input-border-radius: 89px;


$button-background-color: linear-gradient(0deg, rgba(213, 29, 33, 0.6) 0%, rgba(255, 255, 255, 0) 100%),
#FF0000;
$button-background-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$button-text-color: #FFFFFF;
$button-text-shadow: 0px 2px 3px #D51D21;
$button-text-size: 36px;
$button-text-weight: 400;
$button-border-radius: 55px;



//Viewports
$mobile-width: 320px;
$desktop-width: 1980px;